name: Build Eden Nightly
concurrency:
  group: build-eden-nightly-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch: {}

jobs:
  info:
    runs-on: ubuntu-latest
    name: "Get info"
    strategy:
      matrix:
        target: [Info]
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - name: Get the latest release count
        env:
          GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          GH_REPO: ${{ github.repository }}
        run: |
          GH_AUTH_HEADER=""
          if [ -n "$GH_TOKEN" ]; then
            GH_AUTH_HEADER="Authorization: token $GH_TOKEN"
          fi
          api_url="https://api.github.com/repos/$GH_REPO"
          latest_release_info=$(curl -H "$GH_AUTH_HEADER" "$api_url/releases/latest")
          last_release_tag=$(echo "$latest_release_info" | jq -r '.tag_name')
          echo "${last_release_tag}"
          old_count="${last_release_tag##*-}"
          echo "OLD_COUNT=$old_count" >> "$GITHUB_ENV"

      - name: Generate changelog
        run: |
          chmod +x ./changelog.sh
          ./changelog.sh
      
      - name: Compare Count
        id: compare_count
        run: |
          NEW_COUNT=$(cat ~/count)

          echo "-- Release Count Check:"
          echo "   Previous Release Count: $OLD_COUNT"
          echo "   Current Source Count:  $NEW_COUNT"

          if [ "${{ github.event_name }}" == "pull_request" ]; then
            echo "-- Pull request detected, proceeding with the build."
            echo "should_skip=false" >> "$GITHUB_OUTPUT"
          elif [ "$NEW_COUNT" = "$OLD_COUNT" ]; then
            echo "::notice title=Build Skipped::No new commits detected (Current count: $NEW_COUNT). Skipping downstream jobs."
            echo "should_skip=true" >> "$GITHUB_OUTPUT"
            echo "-- [SKIP] No changes detected. Current version is up to date."
          else
            echo "should_skip=false" >> "$GITHUB_OUTPUT"
            echo "-- [PROCEED] New changes detected. Starting release process."
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: info-artifacts
          path: |
            ~/tag
            ~/count
            ~/changelog

  android:
    needs: [info]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: [Replace, Coexist, Optimized, Legacy, ChromeOS]
    name: "Android (${{ matrix.target }})"
    env:
      TARGET: ${{ matrix.target }}
      SCCACHE_GHA_ENABLED: "true"

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install ccache glslang-tools libvulkan-dev python3-requests -y
      
      - name: Install sccache
        uses: Eden-CI/sccache-action@v0.0.2
        with:
          disable_annotations: true
          
      - name: Clone Eden
        run: |
          git clone 'https://git.eden-emu.dev/eden-emu/eden.git' ./eden
            
      - name: Compile Eden android
        run: |
          chmod +x ./eden-android.sh
          ./eden-android.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: eden-android-${{ matrix.target }}
          path: eden/src/android/artifacts/

  release:
    name: "release"
    if: ${{ github.ref_name == 'main' }}
    needs: [info, android]
    permissions:
      actions: read
      security-events: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7.0.0
        with:
          pattern: "*"
          merge-multiple: true

      - name: Generate changelog
        run: |
          echo "TAG=$(cat tag)" >> "${GITHUB_ENV}"
          echo "COUNT=$(cat count)" >> "${GITHUB_ENV}"
          echo "BODY<<EOF" >> "${GITHUB_ENV}"
          cat changelog >> "${GITHUB_ENV}"
          echo "EOF" >> "${GITHUB_ENV}"

      - name: Release Eden
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: "Eden Unofficial Nightly Release: ${{ env.COUNT }}"
          tag_name: "${{ env.TAG }}"
          body: "${{ env.BODY }}"
          prerelease: false
          draft: false
          generate_release_notes: false
          fail_on_unmatched_files: false
          make_latest: true
          files: |
            *.apk